@page "{materiaId:int}"
@model AppStartCMD.Pages.Sections.Materias.DetailModel
@{
    ViewData["Title"] = "Detail";
}


<h1>@Model.Materia.Titulo</h1>
<h5>@Model.Materia.Resumo</h5>
<div>@Model.Materia.Texto</div>

@if(Model.Mensagem != null)
{
    <div class="alert alert-info">
        @Model.Mensagem
    </div>
}

<a asp-page="./Index" class="btn btn-primary">Retornar para a Lista</a>